.header {
    height: var(--title-height);
    width: var(--page-width);
    position: relative;
    background: var(--primary-color);
    padding: var(--title-horizonatal-padding);
    color: var(--text-inverse-color);
    line-height: 1.3;

    &__container {
        display: inline-block;
        text-align: center;

        & h1 {
            color: var(--text-inverse-color);
            font-family: var(--header-name-font);
            font-size: 18pt;
        }
    }

    &__title {
        font-size: 8pt;
        text-transform: uppercase;
    }
}
