$small-font: 8pt;

// main container
// --------------------------------------
.main {
    height: var(--main-height);
    width: var(--main-width);
    padding: var(--main-padding) 0.25in 0 var(--main-padding);
    float: left;

    &__intro > p {
        margin: 0 auto;
        padding-top: var(--blocks-padding-top);
    }
    // each section within main
    &__block {
        margin-bottom: 12pt;
    }

    & h2 {
        position: relative;
        text-transform: uppercase;
    }
}

// main > blocks (each company, project, etc.)
// --------------------------------------
.blocks {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2pt;

    & > div {
        padding-top: var(--blocks-padding-top);
    }

    &:last-child .decorator {
        margin-bottom: 0.25in;
    }

    &__date {
        flex: 0 0 var(--date-block-width);
        line-height: 1.4;
        font-size: $small-font;
        font-weight: 600;

        & span {
            display: block;

            &:nth-child(2)::before {
                height: 2pt;
                display: block;
                position: relative;
                top: 1pt;
                content: ' ';
            }
        }
    }
}

// main > blocks > list (bullets)
// --------------------------------------
.details {
    flex: 1 0 0;

    & div {
        clear: both;
    }

    & header {
        color: #000;
    }

    &__place {
        font-size: $small-font;
    }

    &__location {
        color: var(--text-light-color);
        font-size: $small-font;

        &::before {
            position: relative;
            font-weight: normal;
            font-style: normal;
            text-decoration: inherit;
            content: '  | ';
        }
    }

    &__list {
        font-size: 9pt;

        & ul {
            padding-left: 0.07in;
            margin: 0.08in 0;
        }

        & li {
            margin: 0 0 0.025in 0.025in;
        }

        & li::before {
            position: relative;
            margin-left: var(--custom-bullet-margin-left);
            content: '• ';
        }
    }
}
