// sidebar container
// --------------------------------------
.sidebar {
    height: var(--main-height);
    width: var(--sidebar-width);
    float: right;
    padding: var(--main-padding) var(--sidebar-horizontal-padding);
    background-color: var(--side-background-color);
    font-size: 9pt;
    // each section (contact info, skills, etc.)
    &__section {
        margin-bottom: 0.1in;

        &__container {
            height: var(--sidebar-section-container-height);
        }

        & > div > p {
            margin: 0;
            line-height: var(--side-bar-line-height);
        }

        & h2 {
            text-transform: uppercase;
        }

        & ul {
            line-height: var(--side-bar-line-height);
            margin-top: 0.05in;
            padding-left: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 400;

            & li {
                & > a {
                    color: var(--primary-color);
                    font-style: normal;
                    text-decoration: none;

                    &:hover {
                        color: #000;
                    }

                    & > i {
                        width: 9pt;
                        padding-right: 12pt;
                    }
                }
            }
        }
    }
}

// rating container
// --------------------------------------
.rating__container {
    display: flex;
    justify-content: space-between;
}

// source code link/message
// --------------------------------------
.disclaimer {
    height: var(--sidebar-disclaimer-height);
    position: relative;
    color: var(--text-light-color);
    font-size: 7.5pt;
    text-align: center;

    & span {
        position: absolute;
        bottom: 0;
        right: 0;

        & a {
            color: var(--primary-color);
            font-family: Consolas;
            text-decoration: none;
            &:hover {
                color: #000;
            }
        }
    }
}
