<aside class="sidebar">
    <!-- contact info, skills, etc. -->
    <div *ngFor="let section of sections" class="sidebar__section">
        <h2>{{ section.title }}</h2>
        <!-- links -->
        <ul *ngIf="section.listType === 'links'">
            <li *ngFor="let item of section.items">
                <a
                    href="{{ item.href }}"
                    target="{{ item.target }}"
                    rel="noopener noreferrer"
                    ><i
                        class="fa fa-{{ item.icon }}"
                        [ngClass]="{ 'icon--loaded': item.icon }"
                    ></i
                    >{{ item.text }}</a
                >
            </li>
        </ul>
        <!-- plain list -->
        <ul *ngIf="section.listType === 'list'">
            <li *ngFor="let item of section.items">
                {{ item.item }}
            </li>
        </ul>
        <!-- list with ratings -->
        <ul
            *ngIf="section.listType === 'rating'"
            class="rating flex flex-horizontal-center"
        >
            <li *ngFor="let item of section.items">
                <div class="rating__container">
                    <div class="dots__label">{{ item.item }}</div>
                    <app-rating [rating]="item.rating" [max]="5"></app-rating>
                </div>
            </li>
        </ul>
    </div>

    <!-- sourcecode link -->
    <div class="disclaimer">
        Angular r&eacute;sum&eacute; by Scott Robertson. Source code:
        <a href="//git.io/fjaBd" target="_blank" rel="noopener noreferrer"
            >git.io/fjaBd</a
        >
    </div>
</aside>
